@font-face {
    font-family: 'helvet';
    src: url('../fonts/UTM_HelvetIns.ttf');
}
@font-face {
    font-family: 'Avo';
    src: url('../fonts/UTM Avo.ttf');
}
@font-face {
    font-family: 'Avo_Bold';
    src: url('../fonts/UTM AvoBold.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto_Regular.ttf');
}
@font-face {
    font-family: "Roboto_Bold";
    src: url('../fonts/Roboto_Bold.ttf');
}
.page-home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-size: 14px;
    color:#555554;
    font-family: "Roboto";
}
ul{
	list-style:none;
	padding:0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: unset;
}

a:hover {
    text-decoration: none;
}
input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #606060;
    opacity: 1;
    /* Firefox */
}

input::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #606060;
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #606060;
}
.p-0 {
    padding: 0 !important;
}

.pr-0 {
    padding-right: 0px;
}
.d-flex{
    display:flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
@keyframes spinAround{
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}