@media(max-width: 767px) {
    .dataTables_paginate{
        text-align:left !important;
    }
    .scroll {
        overflow-x: scroll;
        width:100%;
    }

    .modal-dialog {
        display: block;
    }

    .title-detail span {
        font-size: 14px;
    }

    .img-logo-login img {
        width: 60%;
    }

    .tknc {
        margin-top: 15px;
    }

    .button-cancel:first-child {
        margin-right: 4px;
    }

    #login {
        padding: 32px 10px 30px;
    }

    .img-tieude h3 {
        font-size: 23px;
    }

    .img-tieude h4 {
        font-size: 15px;
    }

    .main-lietsi .row {
        margin: 0;
    }

    /*#example_wrapper {
        overflow-y: scroll;
        width: 100%;
    }*/

    header .row {
        margin: 0;
    }
    .table-mobile{
        width:100% !important;
    }
    .table-mobile thead tr th:first-child {
        width: 35% !important;
    }

    header .logo h4 {
        font-size: 16px;
    }

    header .logo h3 {
        font-size: 18px;
    }

    .tab-direct li a {
        padding: 10px 12px;
    }

    #chuyentab3 .title-detail {
        display: block;
    }

    .border-tk {
        padding: 0;
    }

    .border-tk ul {
        padding: 0;
    }

    .border-tk ul li {
        margin: 5px 2px;
        width: auto;
    }

    .border-tk ul li:nth-child(2) {
        width: auto;
    }

    #dateinput_1Days,
    #dateinput_1Months,
    #dateinput_1Years {
        width: 70px;
    }

    .avatar span.note {
        padding: 0px 10px;
    }

    .main-baocao .item {
        padding-right: 15px;
    }

    .main-baocao .btn-save {
        padding: 6px 15px;
        width:48%;
    }
    .main-lietsi-tk .page-thongke .tieuchi-thongke ul li{
        margin: 10px 4px;
        width: 47%;
    }
    #modalCatchet .modal-body{
        padding:15px 20px;
    }
    .table-no-border tr td{
        padding:2px !important;
    }
    .img-tieude img{
        width:100%;
    }
    .top-main .sec-right{
        justify-content: space-between;
    }
    #chuyentab2 button{
        font-size: 13px;
    }
    #chuyentab2 button img{
       margin-right:0;
    }
    .table-loaiquyetdinh tr td{
        width:100%;
        display:block;
        padding:2px 7px !important;
    }
    .table-no-border tr td:first-child{
        text-align: left;
        font-weight: bold;
    }
    .border-tk ul li:nth-child(3), .border-tk ul li:nth-child(4){
        display: none;
    }
    .border-tk ul{
        cursor: pointer;
        justify-content: space-between;
    }
}

@media(min-width:567px) and (max-width:767px) {
    #login {
        transform: translateX(-50%) translateY(-24%);
    }
}

@media(max-width:480px) {
    #login {
        transform: translateX(-50%) translateY(-40%);

    }

    .login2 {
        width: 315px !important;
    }
}

@media(min-width:768px) and (max-width:992px) {
    .border-tk ul li {
        width: 40% !important;
    }

    .avatar span.note {
        padding: 0px 10px;
    }

    .border-tk ul li:nth-child(2) {
        width: 12%;
    }

    .scroll {
        overflow-x: scroll;
    }

    #login {
        transform: translateX(-50%) translateY(-25%);
    }

    .tknc {
        margin-top: 15px;
    }

    .tknc-mr ul {
        padding: 0px 15px !important;
    }

    .header-logo {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
    }

    /*.menu-btn {
        background: transparent;
        border: 0;
    }*/

    .menu-btn:focus {
        outline: 0;

    }

    .logo-mobile img {
        width: 36%;
    }

    .top-main .sec-right ul {
        padding: 0;
    }

    .top-main .sec-right ul li {
        margin-left: 7px;
    }

    .detail-left {
        width: 100% !important;
    }

    .detail-left .tab-parent {
        position: absolute;
        top: 25px;
        left: 100% !important;
        width: 96% !important;
    }

    .title-page-thongke img {
        margin-right: 8px;
    }

    .title-page-thongke {
        padding: 11px 5px;
    }

    .top-main h4 {
        font-size: 15px
    }

    .title-page-thongke {
        font-size: 15px;
        padding: 12px 5px !important;
    }
}

@media(min-width:992px) and (max-width:1200px) {
    .header-right {
        padding: 13px 0px;
    }

    .header-right li p {
        padding-right: 11px;
        font-size: 14px;
    }

    .header-right li {
        padding: 2px 0px 2px 7px;
    }

    /*nav ul li a.active, nav ul li.active a{
        border:0;
    }*/
    .logo {
        /*padding-left: 10px;*/
    }

    .menu-desktop {
        /*align-items:flex-start !important;*/
    }

    .menu-desktop ul {
        padding: 0;
    }

    .row {
        margin: 0;
    }

    .btn-save {
        padding: 6px 20px;
    }
}

@media(width:768px) {
    #login {
        transform: translateX(-50%) translateY(-50%);
    }
}

@media(width:1024px) {
    #login {
        transform: translateX(-50%) translateY(-85%);
    }
}

@media(max-width:1200px) {
    .row {
        margin: 0;
    }
}

@media(min-width: 1367px) {
    .modal-dialog {
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: auto;
    }
}

@media(max-width: 480px) {
    .title-detail {
        display: flex;
    }

    #create-hoso tr td {
        width: 100%;
        display: block;
    }

    #create-hoso tr td:first-child {
        padding-left: 8px !important;
    }

    #create-hoso .table-create-tk tr td:last-child {
        padding-right: 8px !important;
    }

    .title-page-thongke {
        padding: 9px !important;
    }
}
@media(max-width: 1349px){
    .scroll {
        overflow-x: scroll;
    }

}