body {
    margin: 0;
    padding: 0;
    height: 100%;
}
a:hover{
    text-decoration: none;
}
@font-face {
    font-family: 'Arial_regular';
    src: url('../fonts/Arial_0.ttf');
}

@font-face {
    font-family: 'Arial_bold';
    src: url('../fonts/Arial_bold.ttf');
}

@font-face {
    font-family: 'MyriadPro_Regular';
    src: url('../MyriadPro_Regular.otf');
}

.bg-login {
    background: url(../images/bg-01.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Arial_regular';

}

#login {
    padding: 32px 43px 58px;
    border: 1px solid #606161;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 6px 4px #bccdd182;
    border-radius: 25px;
}

#form {
    width: 380px;
    /* margin-top: 40px; */
}

.tieude {
    position: relative;
    bottom: 25px;
    background: #fff;
    padding: 0px 10px;
    width: 280px;
    margin: auto;
}

.input-group-addon {
    padding: 3px 10px;
    background: #fff;

}

.text-left {
    text-align: left;
}

.mar-bottom-10 {
    margin-bottom: 10px;
}

.input-group {
    /* margin-top: 15px; */
    padding: 0px;
    background: #fff;
    border-radius: 0px;
    border: 1px solid #005591;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}

.input-group .input-group-addon {
    border: 0px;
    box-shadow: none;
    outline: none;
    width: 53px;
    white-space: nowrap;
    vertical-align: middle;
    /*display: table-cell;*/
    /*float: right;*/
    position: relative;
    /*margin-top: 2px;*/
    padding: 8px;
    background: transparent;
    /*border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%), linear-gradient(to right, #26518c 0%, #409067 100%);
    background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right,#26518c, #409067);*/
}

.input-group-addon:after {
    position: absolute;
    top: 9px;
    right: 0;
    content: '';
    width: 1px;
    height: 29px;
    background-image: linear-gradient(to bottom, #005ebc 0%, #005ebc 100%), linear-gradient(to right, #00397c 0%, #00397c 100%);
}

.input-group input {
    width: 100%;
    border: 0px;
    padding: 10px;
    outline: none;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    width: calc(100% - 53px);
    background: transparent;
}

.dangnhap button {
    font-family: 'Arial_bold';
    border: 0px;
    padding: 10px;
    color: #fff;
    outline: none;
    font-size: 22px;
    background: transparent;
    border-radius: 10px;

}

.dangnhap {
    margin-top: 18px;
    display: flex;
    clear: both;
    justify-content: space-between;
}

.button-cancel {
    /*width: 142px;*/
    flex: 1;
}

.dangnhap a {
    color: #fff;
    font-size: 16px;
}

.tieude p {
    /* font-family: 'UTM_Avo_regular'; */
    color: #ee3340;
    text-align: center;
    font-size: 26px;
}

.styled-select select,
.styled-select input {
    height: 36px;
    border: 1px solid #606161;
    font-weight: 100;
    width: 100%;
    padding: 0px 10px;
    font-family: 'MyriadPro_Regular';
    font-size: 16px;
    outline: none;
}

/* placeholder */

input::-webkit-input-placeholder {
    color: #545454 !important;
    font-size: 20px;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #545454 !important;
    font-size: 20px;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #545454 !important;
    font-size: 20px;
}

input:-ms-input-placeholder {
    color: #545454 !important;
    font-size: 20px;

}

/* end placeholder */

.menu-home-login {
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    /*WIDTH: 500px;*/
}

.menu-padd {
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    text-align: center;
    margin-top: 50px;
}

.bg-banner {
    background: #88A491;
}

.box-shadow {
    /* -webkit-box-shadow: 0px 0px 233px 31px rgba(255,255,255,1); */
    /* -moz-box-shadow: 0px 0px 233px 31px rgba(255,255,255,1); */
    /* box-shadow: 0px 0px 233px 31px rgba(255,255,255,1); */
    /* background: url(images/bg_login) no-repeat center center fixed; */
    /* -webkit-background-size: cover; */
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-size: cover; */
    position: absolute;
    /* left: 44.5%; */
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}


/* 30082017 */
.img-tieude {
    font-weight: bold;
    padding: 0;
    background: url(../images/bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 24px 0px 54px;
    text-transform: uppercase;
    font-size: 16px;
    word-spacing: 2px;
    background: -webkit-linear-gradient(#26518c, #409067);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.img-tieude img {
    /*width: 130px;
    height: 24px;*/
}

.img-tieude p {
    margin-bottom: 0px;
    color: #fff;
    font-family: 'Arial_bold';
    font-size: 20px;
    padding: 8px 0px;
}

.padd-form {
    /*padding: 0px 20px;*/
    /*margin-top:20px;*/
}

.form2 {
    margin-top: 20px;
    background: rgba(233, 129, 56, 0.2);
    padding: 5px;
    border-radius: 5px;
}

.login2 {
    max-width: 521px !important;
    border: 0px !important;
    width: 100%;
}

.none-margin-top {
    margin-top: 0px !important;
}

.img-logo-login {
    width: 100%;
    /*margin-bottom:30px;*/
}

.img-logo-login img {
    height: 170px;
    width: 170px;
}

.login-content {}

.input-group-addon img {
    height: 30px;
}

.padd-form .input-group {
    height: 50px;
    display: flex;
    border: 1.5px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #005fbd 0%, #005fbd 100%), linear-gradient(to right, #003c81 0%, #003c81 100%);
    background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #005fbd, #003c81);
    border-radius: 10px;
}

.bg-input {
    /*margin-bottom: 30px;*/
    border-radius: 5px;
    clear: both;
}

.bg-input:first-child {
    margin-bottom: 42px !important;
}

.bg-input:nth-child(2) {
    margin-bottom: 25px !important;
}

.input-select {
    padding: 0px 20px;
}

.input-select p {
    text-align: left;

}

.button-cancel {
    border-radius: 7.1px;
    transition: 0.3s all ease-in;
}

.button-cancel:first-child {
    background: #91bbce;
    margin-right: 30px;
}

.button-cancel:last-child {
    background-image: linear-gradient(to right, #005ebc, #003c80);
    transition: 0.3s all ease-in;
}

.button-cancel:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.button-cancel:last-child:hover button {
    /*  color:red;
 background: -webkit-linear-gradient(#26518c, #409067);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.forgotPassword {
    text-align: right;
}

.forgotPassword a {
    color: #088ac4;
    font-size: 19px;
    font-style: italic;
    border-bottom: 1px solid #088ac4;
}