header {
    background: url('../images/bg_header.png') no-repeat;
    background-size: cover;
    height: 67px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0px 42px 0px 12px;

        .logo {
            text-transform: uppercase;
            height: 100%;
            display: flex;
            align-items: center;

            img {
                width: 45px;
            }

            span {
                font-family: 'helvet';
                font-size: 30px;
                color: #fff100;
                margin-left: 15px;
            }
        }

        .header_right {
            color: #fff;
            cursor: pointer;
            position: relative;

            .header_right_top {
                span {
                    padding-left: 12px;
                }

                .icon_down {
                    cursor: pointer;

                    img {
                        width: 7px;
                    }
                }
            }

            ul {
                display: none;
                position: absolute;
                background: #fff;
                padding: 5px;
                border-radius: 5px;
                top: 27px;
                width: 134px;
                box-shadow: 0px 2px 2px #ccc;

                li {
                    padding: 5px;
                }
            }
        }
    }

}

main {
    flex: 1;

    /*Index*/
    &.main-home {
        align-items: center;
        display: flex;
    }

    .item {
        text-align: center;
        margin-bottom: 50px;
        cursor: pointer;
        transition: all 0.3s ease-in;

        &:hover {
            .bg_img {
                transition: all 0.3s ease-in;

                &:before {
                    transition: all 0.3s ease-in;
                    background: #ccc;
                    border: 0 !important;
                    /*border-color: #ccc;*/
                }
            }

            .item_title {
                color: #00558d;
                a{
                    color: #00558d;
                }
            }
        }

        &:nth-child(2) {
            .item_sumary {
                ul {
                    li {
                        &:first-child {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }

        .item_img {
            .bg_img {
                width: 121px;
                height: 121px;
                border-radius: 9px;
                background: #b1dfdc;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                &:before {
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    content: '';
                    border: 1px solid #606060;
                    height: 121px;
                    width: 121px;
                    border-radius: 9px;
                    z-index: -1;
                }

            }
        }

        .item_title {
            font-family: 'Avo';
            font-size: 36px;
            margin: 30px 0px 20px;
            a{
                color:#555554;
            }
            

        }

        .item_sumary {
            ul {
                li {
                    a {
                        color: #606060;
                        font-family: 'Roboto';
                        font-size: 21px;
                        position: relative;

                        &:before {
                            content: "";
                            position: absolute;
                            background: url(../images/dot.svg) no-repeat;
                            width: 8px;
                            height: 8px;
                            left: -15px;
                            top: 7px;
                        }
                    }
                }
            }
        }
    }

    /*end index*/

    .site-wrap {
        aside {
            width: 64px;
            position: fixed;
            left: 0;
            overflow: hidden;
            height: 100%;
            background: #c1ced3;
            transition: all 0.2s ease-in;

            &.extendMenu {
                width: 271px;
                z-index: 9999;
                transition: all 0.3s ease-in;

                .img-pull {
                    opacity: 1 !important;
                }

                .img-push {
                    opacity: 0;
                }

                ul.menu-left {
                    li {
                        a {
                            span {
                                &:last-child {
                                    padding-top: 12px;
                                    opacity: 1;
                                    padding-left: 45px;
                                }
                            }

                        }
                    }
                }
            }

            ul.menu-left {
                width: 100%;

                li {
                    display: block;
                    cursor: pointer;
                    position: relative;

                    &:nth-child(1) {
                        padding: 18px 2px 19px;

                        img {
                            width: 20px;
                            height: 20px;
                            position: absolute;
                        }

                        .img-pull {
                            opacity: 0;
                        }
                    }

                    &:hover {
                        background: #ebf0f2;

                        a {
                            color: #c3161c;
                        }

                        .img-hover {
                            opacity: 1 !important;
                        }
                    }

                    &.active {
                        background: #ebf0f2;

                        a {
                            color: #c3161c;

                            .img-hover {
                                opacity: 1 !important;
                            }

                            .img-ori {
                                opacity: 0;
                            }
                        }
                    }

                    a {
                        display: block;
                        white-space: nowrap;
                        font-size: 18px;
                        text-transform: uppercase;
                        color: #0b5492;
                        width: 100%;
                        padding: 18px 30px 27px 20px;
                        &:focus{
                            text-decoration:none;
                        }

                        span {
                            &:first-child {
                                width: 50px;
                                height: 100%;
                            }

                            &:last-child {
                                padding-top: 12px;
                                opacity: 0
                            }

                        }
                    }

                    img {
                        width: 35px;
                        position: absolute;
                    }

                    .img-hover {
                        opacity: 0;
                    }

                    .img-ori {
                        opacity: 1;
                    }

                    .sidebar-submenu {
                        display: none;
                        background: #fff;

                        ul {
                            li {
                                padding: 0;
                                border-bottom: 1px solid #ccc;

                                &:hover {
                                    a {
                                        color: #0b5492;
                                        font-family: "Roboto_Bold";

                                        .img-ori {
                                            opacity: 0;
                                        }

                                        .img-hover {
                                            opacity: 1 !important;
                                        }
                                    }

                                }

                                a {
                                    text-transform: inherit;
                                    color: #606060;
                                    text-decoration: none;

                                    span {
                                        padding-left: 0px !important;
                                        padding-right: 45px;
                                    }

                                    img {
                                        width: 20px;
                                        height: 20px;
                                    }

                                    .img-ori {
                                        opacity: 1;
                                    }

                                    .img-hover {
                                        opacity: 0 !important;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }

        .push-wrap {
            position: relative;
            margin: auto;
            margin-left: 100px;
            transition: all 0.2s ease-in;

            .toggle-nav {
                position: absolute;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .top-main {
                display: flex;
                justify-content: space-between;
                background: #e2e2e2;
                position: absolute;
                left: -36px;
                right: 0;
                top: 0;
                height: 82px;
                align-items: center;
                padding: 0px 33px 0px 35px;

                h4 {
                    color: #01568d;
                    font-family: 'Avo_Bold';
                }

                .top-main-right {
                    ul {
                        display: flex;
                        margin: 0;

                        li {
                            background: #fff;
                            border-radius: 5px;
                            width: 150px;
                            height: 35px;
                            text-align: center;
                            line-height: 35px;
                            margin: 5px;
                            border: 1px solid #ccc;
                            transition: all 0.3s ease-in;
                            &:hover{
                                /*background:#fff101;*/
                                img{
                                    animation: spinAround 1s linear;
                                     animation-iteration-count: 1;
                                }
                            }

                            a {
                                color: #01568d;
                            }

                            img {
                                width: 15px;
                                margin-right: 25px;
                                margin-left: -16px
                            }

                            &:nth-child(4) {
                                position: relative;

                                &:before {
                                    content: '';
                                    position: absolute;
                                    height: 20px;
                                    width: 1px;
                                    background: #01568d;
                                    left: 30px;
                                    top: 9px;
                                }

                                img {
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 5px;
                                    margin-left: 0px;

                                }

                                #select_mauin {
                                    height: 95%;
                                    width: 75%;
                                    border: 0;
                                    color: #01568d;

                                    &:focus {
                                        outline: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .main-content {
                padding-top: 82px;

                .box {
                    padding-right: 40px;

                    .main-content-filter {
                        ul {
                            display: flex;
                            padding: 17px 0px;
                            margin-bottom: 0;

                            li {
                                margin-right: 27px;
                                border-radius: 5px;

                                &.dv {
                                    border: 1px solid #ccc;
                                    padding-left: 12px;
                                    width: 294px;

                                    input {
                                        border: 0;
                                        width: 84%;
                                        height: 35px;

                                        &:focus {
                                            outline: 0;
                                        }
                                    }

                                    button {
                                        background: transparent;
                                        border: 0;

                                        &:focus {
                                            outline: 0;
                                        }

                                        img {
                                            width: 25px;
                                        }
                                    }
                                }

                                select {
                                    border: 1px solid #ccc;
                                    height: 35px;
                                    border-radius: 5px;
                                    width: 147px;
                                    padding-left: 5px;
                                }


                            }
                        }
                    }

                    .scroll {
                        #example {
                            margin: 0px !important;

                            .header-table {
                                background: #82a0a8;
                                color: #fff;
                                font-size: 18px;
                                font-family: "Roboto_Bold";

                                tr {
                                    th {
                                        text-align: center;
                                        border-bottom: 0;

                                        &:after {
                                            display: none;
                                        }
                                    }
                                }
                            }

                            tbody {
                                background: #e8f6f9;

                                tr {
                                    td {
                                        border-right: 1px solid #fff;
                                        border-top: 1px solid #fff;
                                        font-size: 18px;
                                        padding: 18px 8px 18px 18px;

                                        &.button_view {
                                            padding-top: 24px;

                                            img {
                                                width: 23px;
                                                height: 13px;
                                            }
                                        }

                                        &.button_edit {
                                            img {
                                                width: 17px;
                                                height: 18px;
                                            }
                                        }

                                        &.button_delete {
                                            img {
                                                width: 14px;
                                                height: 19px;
                                            }
                                        }

                                        .contain-checkbox {
                                            display: block;
                                            position: relative;
                                            user-select: none;
                                            cursor: pointer;

                                            input {
                                                position: absolute;
                                                opacity: 0;
                                                cursor: pointer;
                                                height: 0;
                                                width: 0;

                                                &:checked~.checkmark:after {
                                                    display: block;
                                                }
                                            }

                                            .checkmark {
                                                position: absolute;
                                                top: 0;
                                                left: 8px;
                                                height: 21px;
                                                width: 21px;
                                                background: #f9f9f9;
                                                right: 0;
                                                border: 1px solid #8aa0aa;

                                                &:after {
                                                    content: "";
                                                    position: absolute;
                                                    display: none;
                                                    width: 7px;
                                                    height: 14px;
                                                    border: solid #606060;
                                                    border-width: 0 2px 2px 0;
                                                    -webkit-transform: rotate(45deg);
                                                    -ms-transform: rotate(45deg);
                                                    transform: rotate(45deg);
                                                    left: 6px;
                                                    top: 1px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .bottom-table {
                            .right {
                                border-top: 11px solid #c2cacc;
                                display: flex;
                                justify-content: flex-end;
                                background: #e6e8e8;
                                padding: 12px;

                                #example_info {
                                    padding: 5px;
                                }

                                #example_paginate {
                                    ul {
                                        li {
                                            &.active {
                                                a {
                                                    background: #fff;
                                                    border: 1px solid #b3b3b3;
                                                }
                                            }

                                            a {
                                                height: 20px;
                                                width: 20px;
                                                line-height: 20px;
                                                padding: 1px 6px;
                                                background: #b3b3b3;
                                                border: 0;
                                                color: #333;
                                                font-size: 12px;
                                                margin: 2px;
                                                border-radius: 0;

                                                img {
                                                    margin-top: 5px;
                                                }

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .toggled {
        .push-wrap {
            margin-left: 307px;
            transition: all 0.3s ease-in;
        }
    }
}

footer {
    clear: both;
    text-align: center;
    background: #2483c5;
    color: #fff;
    padding: 8px 0px 18px;
    border-top: 7px solid #fff100;
    font-family: "Roboto";
    z-index: 99999;

    p {
        margin: 0;
        font-size: 13px
    }
}