header {
  background: url("../images/bg_header.png") no-repeat;
  background-size: cover;
  height: 67px; }
  header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 42px 0px 12px; }
    header .header .logo {
      text-transform: uppercase;
      height: 100%;
      display: flex;
      align-items: center; }
      header .header .logo img {
        width: 45px; }
      header .header .logo span {
        font-family: 'helvet';
        font-size: 30px;
        color: #fff100;
        margin-left: 15px; }
    header .header .header_right {
      color: #fff;
      cursor: pointer;
      position: relative; }
      header .header .header_right .header_right_top span {
        padding-left: 12px; }
      header .header .header_right .header_right_top .icon_down {
        cursor: pointer; }
        header .header .header_right .header_right_top .icon_down img {
          width: 7px; }
      header .header .header_right ul {
        display: none;
        position: absolute;
        background: #fff;
        padding: 5px;
        border-radius: 5px;
        top: 27px;
        width: 134px;
        box-shadow: 0px 2px 2px #ccc; }
        header .header .header_right ul li {
          padding: 5px; }

main {
  flex: 1;
  /*Index*/
  /*end index*/ }
  main.main-home {
    align-items: center;
    display: flex; }
  main .item {
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in; }
    main .item:hover .bg_img {
      transition: all 0.3s ease-in; }
      main .item:hover .bg_img:before {
        transition: all 0.3s ease-in;
        background: #ccc;
        border: 0 !important;
        /*border-color: #ccc;*/ }
    main .item:hover .item_title {
      color: #00558d; }
      main .item:hover .item_title a {
        color: #00558d; }
    main .item:nth-child(2) .item_sumary ul li:first-child {
      margin-left: 15px; }
    main .item .item_img .bg_img {
      width: 121px;
      height: 121px;
      border-radius: 9px;
      background: #b1dfdc;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      main .item .item_img .bg_img:before {
        position: absolute;
        top: 12px;
        left: 12px;
        content: '';
        border: 1px solid #606060;
        height: 121px;
        width: 121px;
        border-radius: 9px;
        z-index: -1; }
    main .item .item_title {
      font-family: 'Avo';
      font-size: 36px;
      margin: 30px 0px 20px; }
      main .item .item_title a {
        color: #555554; }
    main .item .item_sumary ul li a {
      color: #606060;
      font-family: 'Roboto';
      font-size: 21px;
      position: relative; }
      main .item .item_sumary ul li a:before {
        content: "";
        position: absolute;
        background: url(../images/dot.svg) no-repeat;
        width: 8px;
        height: 8px;
        left: -15px;
        top: 7px; }
  main .site-wrap aside {
    width: 64px;
    position: fixed;
    left: 0;
    overflow: hidden;
    height: 100%;
    background: #c1ced3;
    transition: all 0.2s ease-in; }
    main .site-wrap aside.extendMenu {
      width: 271px;
      z-index: 9999;
      transition: all 0.3s ease-in; }
      main .site-wrap aside.extendMenu .img-pull {
        opacity: 1 !important; }
      main .site-wrap aside.extendMenu .img-push {
        opacity: 0; }
      main .site-wrap aside.extendMenu ul.menu-left li a span:last-child {
        padding-top: 12px;
        opacity: 1;
        padding-left: 45px; }
    main .site-wrap aside ul.menu-left {
      width: 100%; }
      main .site-wrap aside ul.menu-left li {
        display: block;
        cursor: pointer;
        position: relative; }
        main .site-wrap aside ul.menu-left li:nth-child(1) {
          padding: 18px 2px 19px; }
          main .site-wrap aside ul.menu-left li:nth-child(1) img {
            width: 20px;
            height: 20px;
            position: absolute; }
          main .site-wrap aside ul.menu-left li:nth-child(1) .img-pull {
            opacity: 0; }
        main .site-wrap aside ul.menu-left li:hover {
          background: #ebf0f2; }
          main .site-wrap aside ul.menu-left li:hover a {
            color: #c3161c; }
          main .site-wrap aside ul.menu-left li:hover .img-hover {
            opacity: 1 !important; }
        main .site-wrap aside ul.menu-left li.active {
          background: #ebf0f2; }
          main .site-wrap aside ul.menu-left li.active a {
            color: #c3161c; }
            main .site-wrap aside ul.menu-left li.active a .img-hover {
              opacity: 1 !important; }
            main .site-wrap aside ul.menu-left li.active a .img-ori {
              opacity: 0; }
        main .site-wrap aside ul.menu-left li a {
          display: block;
          white-space: nowrap;
          font-size: 18px;
          text-transform: uppercase;
          color: #0b5492;
          width: 100%;
          padding: 18px 30px 27px 20px; }
          main .site-wrap aside ul.menu-left li a:focus {
            text-decoration: none; }
          main .site-wrap aside ul.menu-left li a span:first-child {
            width: 50px;
            height: 100%; }
          main .site-wrap aside ul.menu-left li a span:last-child {
            padding-top: 12px;
            opacity: 0; }
        main .site-wrap aside ul.menu-left li img {
          width: 35px;
          position: absolute; }
        main .site-wrap aside ul.menu-left li .img-hover {
          opacity: 0; }
        main .site-wrap aside ul.menu-left li .img-ori {
          opacity: 1; }
        main .site-wrap aside ul.menu-left li .sidebar-submenu {
          display: none;
          background: #fff; }
          main .site-wrap aside ul.menu-left li .sidebar-submenu ul li {
            padding: 0;
            border-bottom: 1px solid #ccc; }
            main .site-wrap aside ul.menu-left li .sidebar-submenu ul li:hover a {
              color: #0b5492;
              font-family: "Roboto_Bold"; }
              main .site-wrap aside ul.menu-left li .sidebar-submenu ul li:hover a .img-ori {
                opacity: 0; }
              main .site-wrap aside ul.menu-left li .sidebar-submenu ul li:hover a .img-hover {
                opacity: 1 !important; }
            main .site-wrap aside ul.menu-left li .sidebar-submenu ul li a {
              text-transform: inherit;
              color: #606060;
              text-decoration: none; }
              main .site-wrap aside ul.menu-left li .sidebar-submenu ul li a span {
                padding-left: 0px !important;
                padding-right: 45px; }
              main .site-wrap aside ul.menu-left li .sidebar-submenu ul li a img {
                width: 20px;
                height: 20px; }
              main .site-wrap aside ul.menu-left li .sidebar-submenu ul li a .img-ori {
                opacity: 1; }
              main .site-wrap aside ul.menu-left li .sidebar-submenu ul li a .img-hover {
                opacity: 0 !important; }
  main .site-wrap .push-wrap {
    position: relative;
    margin: auto;
    margin-left: 100px;
    transition: all 0.2s ease-in; }
    main .site-wrap .push-wrap .toggle-nav {
      position: absolute; }
      main .site-wrap .push-wrap .toggle-nav img {
        width: 20px;
        height: 20px; }
    main .site-wrap .push-wrap .top-main {
      display: flex;
      justify-content: space-between;
      background: #e2e2e2;
      position: absolute;
      left: -36px;
      right: 0;
      top: 0;
      height: 82px;
      align-items: center;
      padding: 0px 33px 0px 35px; }
      main .site-wrap .push-wrap .top-main h4 {
        color: #01568d;
        font-family: 'Avo_Bold'; }
      main .site-wrap .push-wrap .top-main .top-main-right ul {
        display: flex;
        margin: 0; }
        main .site-wrap .push-wrap .top-main .top-main-right ul li {
          background: #fff;
          border-radius: 5px;
          width: 150px;
          height: 35px;
          text-align: center;
          line-height: 35px;
          margin: 5px;
          border: 1px solid #ccc;
          transition: all 0.3s ease-in; }
          main .site-wrap .push-wrap .top-main .top-main-right ul li:hover {
            /*background:#fff101;*/ }
            main .site-wrap .push-wrap .top-main .top-main-right ul li:hover img {
              animation: spinAround 1s linear;
              animation-iteration-count: 1; }
          main .site-wrap .push-wrap .top-main .top-main-right ul li a {
            color: #01568d; }
          main .site-wrap .push-wrap .top-main .top-main-right ul li img {
            width: 15px;
            margin-right: 25px;
            margin-left: -16px; }
          main .site-wrap .push-wrap .top-main .top-main-right ul li:nth-child(4) {
            position: relative; }
            main .site-wrap .push-wrap .top-main .top-main-right ul li:nth-child(4):before {
              content: '';
              position: absolute;
              height: 20px;
              width: 1px;
              background: #01568d;
              left: 30px;
              top: 9px; }
            main .site-wrap .push-wrap .top-main .top-main-right ul li:nth-child(4) img {
              width: 20px;
              height: 20px;
              margin-right: 5px;
              margin-left: 0px; }
            main .site-wrap .push-wrap .top-main .top-main-right ul li:nth-child(4) #select_mauin {
              height: 95%;
              width: 75%;
              border: 0;
              color: #01568d; }
              main .site-wrap .push-wrap .top-main .top-main-right ul li:nth-child(4) #select_mauin:focus {
                outline: 0; }
    main .site-wrap .push-wrap .main-content {
      padding-top: 82px; }
      main .site-wrap .push-wrap .main-content .box {
        padding-right: 40px; }
        main .site-wrap .push-wrap .main-content .box .main-content-filter ul {
          display: flex;
          padding: 17px 0px;
          margin-bottom: 0; }
          main .site-wrap .push-wrap .main-content .box .main-content-filter ul li {
            margin-right: 27px;
            border-radius: 5px; }
            main .site-wrap .push-wrap .main-content .box .main-content-filter ul li.dv {
              border: 1px solid #ccc;
              padding-left: 12px;
              width: 294px; }
              main .site-wrap .push-wrap .main-content .box .main-content-filter ul li.dv input {
                border: 0;
                width: 84%;
                height: 35px; }
                main .site-wrap .push-wrap .main-content .box .main-content-filter ul li.dv input:focus {
                  outline: 0; }
              main .site-wrap .push-wrap .main-content .box .main-content-filter ul li.dv button {
                background: transparent;
                border: 0; }
                main .site-wrap .push-wrap .main-content .box .main-content-filter ul li.dv button:focus {
                  outline: 0; }
                main .site-wrap .push-wrap .main-content .box .main-content-filter ul li.dv button img {
                  width: 25px; }
            main .site-wrap .push-wrap .main-content .box .main-content-filter ul li select {
              border: 1px solid #ccc;
              height: 35px;
              border-radius: 5px;
              width: 147px;
              padding-left: 5px; }
        main .site-wrap .push-wrap .main-content .box .scroll #example {
          margin: 0px !important; }
          main .site-wrap .push-wrap .main-content .box .scroll #example .header-table {
            background: #82a0a8;
            color: #fff;
            font-size: 18px;
            font-family: "Roboto_Bold"; }
            main .site-wrap .push-wrap .main-content .box .scroll #example .header-table tr th {
              text-align: center;
              border-bottom: 0; }
              main .site-wrap .push-wrap .main-content .box .scroll #example .header-table tr th:after {
                display: none; }
          main .site-wrap .push-wrap .main-content .box .scroll #example tbody {
            background: #e8f6f9; }
            main .site-wrap .push-wrap .main-content .box .scroll #example tbody tr td {
              border-right: 1px solid #fff;
              border-top: 1px solid #fff;
              font-size: 18px;
              padding: 18px 8px 18px 18px; }
              main .site-wrap .push-wrap .main-content .box .scroll #example tbody tr td.button_view {
                padding-top: 24px; }
                main .site-wrap .push-wrap .main-content .box .scroll #example tbody tr td.button_view img {
                  width: 23px;
                  height: 13px; }
              main .site-wrap .push-wrap .main-content .box .scroll #example tbody tr td.button_edit img {
                width: 17px;
                height: 18px; }
              main .site-wrap .push-wrap .main-content .box .scroll #example tbody tr td.button_delete img {
                width: 14px;
                height: 19px; }
              main .site-wrap .push-wrap .main-content .box .scroll #example tbody tr td .contain-checkbox {
                display: block;
                position: relative;
                user-select: none;
                cursor: pointer; }
                main .site-wrap .push-wrap .main-content .box .scroll #example tbody tr td .contain-checkbox input {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  height: 0;
                  width: 0; }
                  main .site-wrap .push-wrap .main-content .box .scroll #example tbody tr td .contain-checkbox input:checked ~ .checkmark:after {
                    display: block; }
                main .site-wrap .push-wrap .main-content .box .scroll #example tbody tr td .contain-checkbox .checkmark {
                  position: absolute;
                  top: 0;
                  left: 8px;
                  height: 21px;
                  width: 21px;
                  background: #f9f9f9;
                  right: 0;
                  border: 1px solid #8aa0aa; }
                  main .site-wrap .push-wrap .main-content .box .scroll #example tbody tr td .contain-checkbox .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                    width: 7px;
                    height: 14px;
                    border: solid #606060;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    left: 6px;
                    top: 1px; }
        main .site-wrap .push-wrap .main-content .box .scroll .bottom-table .right {
          border-top: 11px solid #c2cacc;
          display: flex;
          justify-content: flex-end;
          background: #e6e8e8;
          padding: 12px; }
          main .site-wrap .push-wrap .main-content .box .scroll .bottom-table .right #example_info {
            padding: 5px; }
          main .site-wrap .push-wrap .main-content .box .scroll .bottom-table .right #example_paginate ul li.active a {
            background: #fff;
            border: 1px solid #b3b3b3; }
          main .site-wrap .push-wrap .main-content .box .scroll .bottom-table .right #example_paginate ul li a {
            height: 20px;
            width: 20px;
            line-height: 20px;
            padding: 1px 6px;
            background: #b3b3b3;
            border: 0;
            color: #333;
            font-size: 12px;
            margin: 2px;
            border-radius: 0; }
            main .site-wrap .push-wrap .main-content .box .scroll .bottom-table .right #example_paginate ul li a img {
              margin-top: 5px; }
  main .toggled .push-wrap {
    margin-left: 307px;
    transition: all 0.3s ease-in; }

footer {
  clear: both;
  text-align: center;
  background: #2483c5;
  color: #fff;
  padding: 8px 0px 18px;
  border-top: 7px solid #fff100;
  font-family: "Roboto";
  z-index: 99999; }
  footer p {
    margin: 0;
    font-size: 13px; }

/*# sourceMappingURL=styles.css.map */
